html{
    width: 100%;
    height: 100%;
}
body {
    margin: 0;
    overflow: hidden;
    position: absolute;
    background-color: #000000;
    width: 100%;
    height: 100%;
}
canvas {
    position: absolute;
    width: 100%;
    height: 100%
}
#video_player{
    position: absolute;
    z-index: 1001;
}
.cover{
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1000;
}
.loading_icon{
    position: absolute;
    left:50%;
    top:50%;
    width: 32px;
    height:32px;
    margin-left: -16px;
    margin-top: -16px;
    background-image:url(../images/loading_icon.gif);
}
#no_webgl{
    position: absolute;
    top:49%;
    font-size: 18px;
    color:#ccc;
    width: 100%;
    text-align: center;

    display: none;
}

/** index intro **/
.index_intro{
    position: absolute;
    width: 100%;
    height: 100%;
    display: none;
}
.index_intro_cover{
    position: absolute;
    width: 100%;
    height:100%;
    background-color: rgba(0,0,0,.5);
}
.index_intro_text{
    position: absolute;
    width: 370px;
    height: 126px;
    left:50%;
    top:50%;
    margin-left: -185px;
    margin-top: -110px;
    background: url(../images/index_t01.png);
}
.index_intro_button{
    position: absolute;
    width: 187px;
    height: 75px;
    background: url(../images/index_btn01.png) 0 -75px;
    cursor: pointer;

    left:50%;
    top:50%;
    margin-left: -93px;
    margin-top: 40px;
}
.index_intro_button:hover{
    background-position: 0 0;
}

/** logo & menu **/
.logo{
    position: absolute;
    left:16px;
    top:16px;
    z-index: 2000;
    width: 205px;
    height: 14px;
    margin-top: -40px;
    background: url(../images/logo.png);
    cursor: pointer;
}
.menu{
    position: absolute;
    right:0;
    top:-40px;
    z-index: 2000;
    width:250px;
    height:40px;
    /*background: rgba(255, 0, 0, .3);*/
}
.menu_icon{
    position: absolute;
    right: 6px;
    top:6px;
    width: 21px;
    height: 19px;
    background: url(../images/navi_close.png);

    cursor: pointer;
}
.menu_btn_fb{
    position: absolute;
    right: -12px;
    top:-2px;
    width: 77px;
    height: 40px;
    background: url(../images/navi_open_t03.png) 0 -36px no-repeat;

    cursor: pointer;
}
.menu_btn_fb:hover{
    background-position: 0 0;
}
.menu_btn_rule{
    position: absolute;
    right: 50px;
    top:0;
    width: 77px;
    height: 40px;
    background: url(../images/navi_open_t02.png) 0 -43px no-repeat;

    cursor: pointer;

}
.menu_btn_rule:hover{
    background-position: 0 0;

}
.menu_btn_product{
    position: absolute;
    right: 130px;
    top:0;
    width: 77px;
    height: 40px;
    background: url(../images/navi_open_t01.png) 0 -43px no-repeat;

    cursor: pointer;
}
.menu_btn_product:hover{
    background-position: 0 0;

}
.index_switch_button{
    position: absolute;
    width: 123px;
    height:51px;
    background:url(../images/inside_btn01.png) 0 -60px no-repeat;

    bottom:105px;
    left:50%;
    margin-left: -62px;
    z-index: 1001;

    cursor: pointer;

    display: none;
}
.index_switch_button:hover{
    background-position: 0 0;
}
.index_switch_button.mode2 {
    background:url(../images/inside_btn02.png) 0 -60px no-repeat;
}
.index_switch_button.mode2:hover{
    background-position: 0 0;
}
/** city **/
.city_label_layer{
    position: absolute;
    left:0; top:0;
}
.city_label{
    position: absolute;

    cursor: pointer;
}
/*
.city_label .left_border{
    position: absolute;
    width: 8px;
    height: 34px;
    background: url(../images/city_name_border.png) 0 0;
    left:0;
}
.city_label .right_border{
    position: absolute;
    width: 8px;
    height: 34px;
    background: url(../images/city_name_border.png) 8px 0;
    right:0;
}
.city_label .basement{
    position: absolute;
    background-color:rgba(0, 0, 0, .6);
    width: 93px;
    height: 27px;
    top:4px;
    left:4px;
}
.city_name{
    position: absolute;
    font-size: 11px;
    font-family: "Microsoft YaHei", serif;
    margin-top: 0;
    text-align: center;

    white-space: nowrap;

    color: #ffffff;

    line-height: 1px;
}
*/

.city_label_image{
    position: absolute;
    width: 119px;
    height: 50px;
    background: url(../images/city_label_0.png) no-repeat 0 -49px;
    cursor: pointer;
}
.city_label_image:hover{
    background-position: 0 0;
}

/** timeline **/
.timeline_layer{
    position: absolute;
    bottom:-120px;
    left:0;
    width:100%;
    height:70px;
    background-color: rgba(255,255,255,.04);
}
.sound_icon{
    position: absolute;
    right: 0;
    top: -22px;
    /*
    width: 88px;
    height: 34px;
    */
    width: 44px;
    height: 17px;

    cursor: pointer;

    background:url(../misc/sound_on.gif);
    background-size: cover;
}
.sound_icon.sound_off{

    background:url(../misc/sound_off.gif);
    background-size: cover;
}
.time_label{
    position: absolute;
    top: -26px;
    margin-left: 4px;
    color: #ffffff;
    font-size: 10px;
    cursor: default;
}
.baseline{
    position: absolute;
    top:0;
    height: 1px;
    width: 100%;
    background-image: url(../images/timeline_line_down.png);
}
.progress_line{
    position: absolute;
    top:-7px;
    background-image:url(../images/timeline_line_up.png);
    width:0;
    height:15px;
}
.progress_line_head{
    position: absolute;
    top:-7px;
    background-image:url(../images/timeline_line_head.png);
    left:-10px;
    width:7px;
    height:15px;

}
.progress_line_head_2{
    position: absolute;
    top:-5px;
    background-image:url(../images/dot.png);
    left:-10px;
    margin-left: -5px;
    width:10px;
    height:10px;
    z-index: 1;

}
.timeline_node_past{
    position: absolute;
    width: 36px;
    height: 36px;
    background-image:url(../images/timeline_dot_l.png);
    top:-17px;
    left:100px;
    margin-left:-18px;
}
.timeline_node_now{
    position: absolute;
    width: 10px;
    height: 10px;
    background-image:url(../images/timeline_dot_m.png);
    top:-4px;
    left:200px;
    margin-left:-5px;

}
.timeline_node_future{
    position: absolute;
    width: 10px;
    height: 10px;
    background-image:url(../images/timeline_dot_s.png);
    top:-4px;
    left:300px;
    margin-left:-5px;

}
.node_part{
    position: absolute;
    top:0;
    left:50%;
}
.city_label_small{
    position: absolute;
    width: 119px;
    height: 35px;
    background: url(../images/city_label_0.png) no-repeat 0 -34px;
    cursor: pointer;
    top:18px;
}
.city_label_small:hover{
    background-position: 0 0;
}
.city_label_question{

    position: absolute;
    width: 6px;
    height: 9px;
    margin-left: -3px;
    background: url(../images/city_label_small_99.png) no-repeat;
    top:18px;
}

/** confirm dialog **/
.confirm_dialog{
    position: absolute;
    background:rgba(0,0,0,.5);
    width: 100%;
    height:100%;
    z-index: 2001;
    display: none;
}
.confirm_dialog .container{
    position: absolute;
    left:50%;
    top:50%;
    z-index: 2001;
    width: 316px;
    height:143px;
    margin-left:-158px;
    margin-top:-70px;
    /*
    background:url(../images/confirm_btn_bg.png);
    */
    border: 1px solid rgba(255, 255, 255, .3);
}
.dialog_city_name{
    color:#fff;
}
.confirm_dialog .inner_black{
    position: absolute;
    width: 306px;
    height:133px;
    top:5px;
    left:5px;

    background: rgba(0,0,0,.85);
}
.confirm_dialog .dialog_text{
    position: absolute;
    color: #aaa;
    font-size: 16px;
    width: 100%;
    top:16px;

    line-height: 30px;

    text-align: center;

    font-family: '微軟正黑體', serif;
}
.confirm_dialog .btn_yes{
    position: absolute;
    left:50%;
    margin-left:-104px;
    bottom: 16px;
    width: 100px;
    height: 50px;
    background:url(../images/confirm_btn_01.png) 0 -50px;
}
.confirm_dialog .btn_no{
    position: absolute;
    left:50%;
    margin-left:4px;
    bottom: 16px;
    width: 100px;
    height: 50px;
    background:url(../images/confirm_btn_02.png) 0 -50px;
}
.confirm_dialog .btn_yes:hover, .confirm_dialog .btn_no:hover{
    background-position: 0 0;
    cursor: pointer;
}

/** product **/
.product_layer{
    position: absolute;
    width: 100%;
    height:100%;
    z-index: 2001;
    background: rgba(0, 0, 0, .5);
    overflow-y: auto;

    display: none;
}
.product_layer .container{
    position: absolute;

    top:50%;
    left:50%;

    width:682px;
    height:454px;

    margin-left: -341px;
    margin-top: -250px;
}
.product_layer .btn_close{
    position: absolute;
    width: 50px;
    height: 50px;
    background:url(../images/video_btn_close.png) 0 0;
    cursor: pointer;

    right: -52px;
    top: -8px;
}
.product_layer .btn_close:hover{
    background-position: 0 -50px;
}
.product_layer .btn_close:active{
    background-position: 0 -48px;
}
.product_image{
    position: absolute;
    width:682px;
    height:392px;
    /*display: none;*/
}
.product_image:nth-of-type(1){
    background-image: url(../images/product_p01.png);
    display: block;
}
.product_image:nth-of-type(2){
    background-image: url(../images/product_p02.png);
}
.product_image:nth-of-type(3){
    background-image: url(../images/product_p03.png);
}
.product_image:nth-of-type(4){
    background-image: url(../images/product_p04.png);
}
.product_image:nth-of-type(5){
    background-image: url(../images/product_p05.png);
}
.product_image:nth-of-type(6){
    background-image: url(../images/product_p06.png);
}
.product_image:nth-of-type(7){
    background-image: url(../images/product_p07.png);
}
.product_button_part{
    position: absolute;
    left:-1px;
    bottom:0;
    width: 700px;
}
.product_button{
    position: relative;
    float:left;
    width: 96px;
    height:59px;
    margin-right: 2px;
    background: url(../images/product_btn_01.png) 0 0 no-repeat;
    cursor: pointer;
}
.product_button:hover{
    background-position: 0 -73px;
}
.product_button:active{
    background-position: 0 -71px;
}
.product_button:nth-of-type(1){
    background-image: url(../images/product_btn_01.png);
}
.product_button:nth-of-type(2){
    background-image: url(../images/product_btn_02.png);
}
.product_button:nth-of-type(3){
    background-image: url(../images/product_btn_03.png);
}
.product_button:nth-of-type(4){
    background-image: url(../images/product_btn_04.png);
}
.product_button:nth-of-type(5){
    background-image: url(../images/product_btn_05.png);
}
.product_button:nth-of-type(6){
    background-image: url(../images/product_btn_06.png);
}
.product_button:nth-of-type(7){
    background-image: url(../images/product_btn_07.png);
}
.product_button.please_wait:hover, .product_button.please_wait:active{
    background-position: 0;
}
.product_button.please_wait:nth-of-type(2){
    background-image: url(../images/product_btn_soon_01.png);
    cursor: default;
}
.product_button.please_wait:nth-of-type(3){
    background-image: url(../images/product_btn_soon_02.png);
    cursor: default;
}
.product_button.please_wait:nth-of-type(4){
    background-image: url(../images/product_btn_soon_03.png);
    cursor: default;
}
.product_button.please_wait:nth-of-type(5){
    background-image: url(../images/product_btn_soon_04.png);
    cursor: default;
}
.product_button.please_wait:nth-of-type(6){
    background-image: url(../images/product_btn_soon_05.png);
    cursor: default;
}
.product_button.please_wait:nth-of-type(7){
    background-image: url(../images/product_btn_soon_06.png);
    cursor: default;
}
.product_layer.vertical{

}
@media (max-width: 770px){
    .product_layer{
        top:0;
        left:0;
        overflow-x: hidden;
        overflow-y: scroll;
        background: rgba(0,0,0,.8);
    }
    .product_layer .container{
        top:0;
        left:0;
        margin:0;
        width: 100%;
        height:auto;
    }
    .product_button_part{
        display:none;
    }
    .product_image{
        position: relative;

        background:url(../images/product_mobile_01.png) 0 0;
        background-size: cover;
        width:458px;
        height:520px;
        margin: 30px auto 80px;
    }
    .product_image:nth-of-type(1){
        background-image: url(../images/product_mobile_01.png);
        display: block;
    }
    .product_image:nth-of-type(2){
        background-image: url(../images/product_mobile_02.png);
    }
    .product_image:nth-of-type(3){
        background-image: url(../images/product_mobile_03.png);
    }
    .product_image:nth-of-type(4){
        background-image: url(../images/product_mobile_04.png);
    }
    .product_image:nth-of-type(5){
        background-image: url(../images/product_mobile_05.png);
    }
    .product_image:nth-of-type(6){
        background-image: url(../images/product_mobile_06.png);
    }
    .product_image:nth-of-type(7){
        background-image: url(../images/product_mobile_07.png);
    }

    .product_image.please_wait:nth-of-type(2){
        background-image: url(../images/product_mobile_soon_01.png);
    }

    .product_image.please_wait:nth-of-type(3){
        background-image: url(../images/product_mobile_soon_02.png);
    }

    .product_image.please_wait:nth-of-type(4){
        background-image: url(../images/product_mobile_soon_03.png);
    }

    .product_image.please_wait:nth-of-type(5){
        background-image: url(../images/product_mobile_soon_04.png);
    }

    .product_image.please_wait:nth-of-type(6){
        background-image: url(../images/product_mobile_soon_05.png);
    }

    .product_image.please_wait:nth-of-type(7){
        background-image: url(../images/product_mobile_soon_06.png);
    }


    .product_layer .btn_close{
        position: relative;
        right:auto;
        left:auto;

        width: 393px;
        height:117px;

        background: url(../images/product_mobile_back.png) 0 0 no-repeat;
        background-size: cover;

        margin: 0 auto 20px;
    }
    .product_layer .btn_close:hover{
        background-position: 0;
    }
    .product_layer .btn_close:active{
        background-position: 0 2px;
        height:119px;
    }

}

/** rule **/
.rule_layer{
    position: absolute;
    width: 100%;
    height:100%;
    z-index: 2001;
    /*overflow-y: auto;*/

    background:rgba(0,0,0,.5);

    display: none;
}
.rule_layer .container{
    position: absolute;
    left:50%;
    top:50%;

    width: 700px;
    height: 498px;

    margin-left: -350px;
    margin-top: -250px;

    background:url(../images/rules_bg.png);
}
.rule_layer .btn_close{

    position: absolute;
    width: 50px;
    height: 50px;
    background:url(../images/video_btn_close.png) 0 0;
    cursor: pointer;

    right: -52px;
    top: -8px;
}
.rule_layer .btn_close:hover{
    background-position: 0 -50px;
}
.rule_layer .btn_close:active{
    background-position: 0 -48px;
}
.rule_layer .rule_content{
    position: absolute;
    width:660px;
    height:458px;

    left: 20px;
    top: 20px;

    overflow: auto;

    /*background: #ff0000;*/
}
.rule_layer .rule_text{
    position: relative;
    width:572px;
    height:1497px;

    margin: 0 auto;

    background:url(../images/rules_t.png);
}
.ss_content{
    position: relative;
}
.ss_scrollbase{
    background: none;
}
.ss_scrollbar{
    background:rgba(255, 255, 255, .2);
    width:5px;
    margin-left:-3px;
}

.rule_vertical_text{
    visibility: hidden;
    width: 500px;
    height:6355px;
    background:url(../images/rules_mobile_t.jpg);
    background-size: cover;
    margin: 0 auto;
}

@media (max-width: 770px)
{
    .rule_layer{
        top:0;
        left:0;
        overflow-x: hidden;
        overflow-y: scroll;
        background: rgba(0,0,0,.8);
    }
    .rule_layer .container{
        top:0;
        left:0;
        margin:0;
        width: 100%;
        height:auto;
        background: none;
    }

    .rule_layer .rule_content{
        visibility: hidden;
    }
    .rule_vertical_text{
        visibility: visible;
    }

    .rule_layer .btn_close{
        position: relative;
        right:auto;
        left:auto;

        width: 393px;
        height:117px;

        background: url(../images/product_mobile_back.png) 0 0 no-repeat;
        background-size: cover;

        margin: 0 auto 20px;
    }
    .rule_layer .btn_close:hover{
        background-position: 0;
    }
    .rule_layer .btn_close:active{
        background-position: 0 2px;
        height:119px;
    }
}

/** input form **/
.form_layer{
    position: absolute;
    width: 100%;
    height:100%;

    /*background: rgba(0, 0, 0, .5);*/
    z-index: 2001;

    overflow-y: auto;

    display: none;
}
.form_layer .container{
    position: absolute;

    top:50%;
    left:50%;

    width:700px;
    height:430px;

    margin-left: -351px;
    margin-top: -216px;

    border: 1px solid rgba(255, 255, 255, .3);
}
.form_layer .inner_black {
    position: absolute;
    width: 686px;
    height:416px;
    margin-left: -343px;
    margin-top: -208px;

    left:50%;
    top:50%;

    background: rgba(0,0,0,.85);
}
.form_layer .btn_close{
    position: absolute;
    width: 50px;
    height: 50px;
    background:url(../images/video_btn_close.png) 0 0;
    cursor: pointer;

    right: -52px;
    top: -8px;
}
.form_layer .btn_close:hover{
    background-position: 0 -50px;
}
.form_layer .btn_close:active{
    background-position: 0 -48px;
}
.form_input_select{
    height: 25px;
    width: 79px;
    padding-left: 8px;
    border: none;
    background-color: rgba(255, 255, 255, .2);
    color:#bbb;
}
.form_layer label, .check_box_text{
    color:#ccc;
    font-family: '微軟正黑體', serif;
    font-size: 18px;
}
.input_style{
    width: 250px;
    height: 25px;
    background:rgba(255, 255, 255, .2);
    border: none;
    font-family: '微軟正黑體', serif;
    font-size: 14px;
    color: #ffffff;
}
.form_title{
    position: absolute;
    left:50%;
    top:60px;
    width: 505px;
    height:25px;
    background:url(../images/input_tit_01.png);
    margin-left: -249px;

}
.field_container{
    position: absolute;
    left:50%;
    top:130px;
    width:480px;
    height:300px;
    margin-left: -240px;
    /*background:rgba(255, 0, 0, .2);*/
}

/****/
.row_name{
    display: table;
    float:left;
    width: 230px;
}
.row_name label{
    display: table-cell;
    width: 70px;
}
.row_name input{
    display: table-cell;
    width: 100%;
}


/****/
.row_phone{
    display: table;
    float:left;
    width: 230px;
    text-align: right;
}
.row_phone label{
    display: table-cell;
    width: 70px;
}
.row_phone input{
    display: table-cell;
    margin-left: 20px;
    width: 100%;
}

/****/
.row_email{
    display: table;
    float:left;
    width: 100%;
    margin-top: 20px;

}
.row_email label
{
    display: table-cell;
    width: 70px;
}
.row_email input{
    display: table-cell;
    width: 100%;
}

/****/
.row_address_select{
    display: table;
    float:left;
    width: 100%;
    margin-top: 20px;
}
.row_address_select label{
    display: table-cell;
    width: 70px;
    float: left;
}
.row_address_select table{
    display: table-cell;
    float: left;
    margin-top:2px;
}
.row_address_select textarea{
    display: table-cell;
    width: 228px;
    float: left;
    margin-top:2px;
    margin-left: 10px;
    resize: none;
}

/****/
.row_check{
    display: table;
    float:left;
    width: 100%;
    margin-top: 20px;
}
.row_check input{
    display: table-cell;
    float: left;
    margin-left: 70px;
    margin-top: 5px;
}
.check_box_text{
    display: table-cell;
    float: left;
    margin-left: 10px;
    font-size: 16px;
    letter-spacing: 1px;
}
.form_rule_link{
    text-decoration: underline;
    cursor: pointer;
}

/****/
.form_layer .btn_send{
    position: absolute;
    width: 187px;
    height:75px;

    left:50%;
    margin-left: -93px;
    bottom:35px;

    background:url(../images/input_btn_01.png) 0 -75px no-repeat;

    cursor: pointer;
}
.form_layer .btn_send:hover{
    background-position: 0 0;
}
.form_layer .btn_send:active{
    background-position: 0 2px;
}

@media (max-width: 770px)
{
    .form_layer{
        top:0;
        left:0;
        overflow-x: hidden;
        overflow-y: scroll;
        background: rgba(0,0,0,.8);
    }
    .form_layer .container{
        top:0;
        left:0;
        margin:0;
        width: 100%;
        height:auto;
        background: none;
        border: none;
    }
    .form_layer .inner_black{
        display: none;;
    }
    .form_title{
        position: relative;
        background:url(../images/input_mobile_tit_01.png);
        background-size: cover;
        width: 369px;
        height:85px;
        margin: 70px auto 30px auto;
        left:0;
        top:0;
    }
    .field_container{
        position: relative;
        top:auto;
        left:auto;
        width: 100%;
        height: 415px;
        margin: 10px auto 10px auto;
    }

    .row_name{
        width: 100%;
        margin-top: 20px;
    }
    .row_phone{
        width: 100%;
        margin-left: 0;
        margin-top: 30px;
    }
    .row_phone label{
        text-align: left;
    }
    .row_phone input{
        margin-left: 0;
    }

    .row_email{
        margin-top: 30px;
    }


    .row_address_select{
        margin-top: 30px;
    }
    .row_address_select textarea{
        width: 100%;
        margin-left: 70px;
        margin-top: 20px;
        height: 80px;
    }

    .form_layer .btn_send{
        position: relative;
        left:auto;
        top:auto;
        bottom:auto;
        margin: 0 auto;

        float: left;
    }

    .form_layer .btn_close{
        position: relative;
        right:auto;
        left:auto;

        /*
        width: 393px;
        height:117px;
        */

        width: 187px;
        height: 75px;

        background:url(../images/input_mobile_btn_close.png) 0 0 no-repeat;


        margin: 0 auto 20px;

        float: left;
        top:0;
    }



    .form_layer .btn_close:hover{
        background-position: 0 0;
    }
    .form_layer .btn_close:active{
        background-position: 0 2px;
    }
}
@media (max-width: 374px)
{
    .form_layer .btn_send{
        float:none;
    }
    .form_layer .btn_close{
        float:none;
    }
}



