html{
    width: 100%;
    height: 100%;
}
body {
    margin: 0;
    overflow: hidden;
    position: absolute;
    background-color: #000000;
    width: 100%;
    height: 100%;
}
canvas {
    position: absolute;
    width: 100%;
    height: 100%
}
#video_player{
    position: absolute;
    z-index: 1001;
}
.cover{
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1000;
}
.loading_icon{
    position: absolute;
    left:50%;
    top:50%;
    width: 32px;
    height:32px;
    margin-left: -16px;
    margin-top: -16px;
    background-image:url(../images/loading_icon.gif);
}

/** index intro **/
.index_intro{
    position: absolute;
    width: 100%;
    height: 100%;
    display: none;
}
.index_intro_cover{
    position: absolute;
    width: 100%;
    height:100%;
    background-color: rgba(0,0,0,.5);
}
.index_intro_text{
    position: absolute;
    width: 370px;
    height: 126px;
    left:50%;
    top:50%;
    margin-left: -185px;
    margin-top: -100px;
    background: url(../images/index_t01.png);
}
.index_intro_button{
    position: absolute;
    width: 187px;
    height: 75px;
    background: url(../images/index_btn01.png) 0 -75px;
    cursor: pointer;

    left:50%;
    top:50%;
    margin-left: -93px;
    margin-top: 50px;
}
.index_intro_button:hover{
    background-position: 0 0;
}

/** logo & menu **/
.logo{
    position: absolute;
    left:16px;
    top:16px;
    z-index: 2000;
    width: 205px;
    height: 14px;
    margin-top: -40px;
    background: url(../images/logo.png);
}
.menu{
    position: absolute;
    right:0;
    top:-40px;
    z-index: 2000;
    width:250px;
    height:40px;
    /*background: rgba(255, 0, 0, .3);*/
}
.menu_icon{
    position: absolute;
    right: 6px;
    top:6px;
    width: 21px;
    height: 19px;
    background: url(../images/navi_close.png);

    cursor: pointer;
}
.menu_btn_fb{
    position: absolute;
    right: -12px;
    top:-2px;
    width: 77px;
    height: 40px;
    background: url(../images/navi_open_t03.png) 0 -36px no-repeat;

    cursor: pointer;
}
.menu_btn_fb:hover{
    background-position: 0 0;
}
.menu_btn_rule{
    position: absolute;
    right: 50px;
    top:0;
    width: 77px;
    height: 40px;
    background: url(../images/navi_open_t02.png) 0 -43px no-repeat;

    cursor: pointer;

}
.menu_btn_rule:hover{
    background-position: 0 0;

}
.menu_btn_product{
    position: absolute;
    right: 130px;
    top:0;
    width: 77px;
    height: 40px;
    background: url(../images/navi_open_t01.png) 0 -43px no-repeat;

    cursor: pointer;
}
.menu_btn_product:hover{
    background-position: 0 0;

}

/** city **/
.city_label_layer{
    position: absolute;
    left:0; top:0;
}
.city_label{
    position: absolute;

    cursor: pointer;
}
/*
.city_label .left_border{
    position: absolute;
    width: 8px;
    height: 34px;
    background: url(../images/city_name_border.png) 0 0;
    left:0;
}
.city_label .right_border{
    position: absolute;
    width: 8px;
    height: 34px;
    background: url(../images/city_name_border.png) 8px 0;
    right:0;
}
.city_label .basement{
    position: absolute;
    background-color:rgba(0, 0, 0, .6);
    width: 93px;
    height: 27px;
    top:4px;
    left:4px;
}
.city_name{
    position: absolute;
    font-size: 11px;
    font-family: "Microsoft YaHei", serif;
    margin-top: 0;
    text-align: center;

    white-space: nowrap;

    color: #ffffff;

    line-height: 1px;
}
*/

.city_label_image{
    position: absolute;
    width: 119px;
    height: 50px;
    background: url(../images/city_label_0.png) no-repeat 0 -49px;
    cursor: pointer;
}
.city_label_image:hover{
    background-position: 0 0;
}

/** timeline **/
.timeline_layer{
    position: absolute;
    bottom:-90px;
    left:0;
    width:100%;
    height:70px;
    background-color: rgba(255,255,255,.04);
}
.time_label{
    position: absolute;
    top: -12px;
    color: #ffffff;
    font-size: 10px;
    cursor: default;
}
.baseline{
    position: absolute;
    top:0;
    height: 1px;
    width: 100%;
    background-image: url(../images/timeline_line_down.png);
}
.progress_line{
    position: absolute;
    top:-7px;
    background-image:url(../images/timeline_line_up.png);
    width:0;
    height:15px;
}
.progress_line_head{
    position: absolute;
    top:-7px;
    background-image:url(../images/timeline_line_head.png);
    left:-10px;
    width:7px;
    height:15px;

}
.timeline_node_past{
    position: absolute;
    width: 36px;
    height: 36px;
    background-image:url(../images/timeline_dot_l.png);
    top:-17px;
    left:100px;
    margin-left:-18px;
}
.timeline_node_now{
    position: absolute;
    width: 10px;
    height: 10px;
    background-image:url(../images/timeline_dot_m.png);
    top:-4px;
    left:200px;
    margin-left:-5px;

}
.timeline_node_future{
    position: absolute;
    width: 10px;
    height: 10px;
    background-image:url(../images/timeline_dot_s.png);
    top:-4px;
    left:300px;
    margin-left:-5px;

}
.node_part{
    position: absolute;
    top:0;
    left:50%;
}
.city_label_small{
    position: absolute;
    width: 119px;
    height: 35px;
    background: url(../images/city_label_0.png) no-repeat 0 -34px;
    cursor: pointer;
    top:18px;
}
.city_label_small:hover{
    background-position: 0 0;
}
.city_label_question{

    position: absolute;
    width: 6px;
    height: 9px;
    margin-left: -3px;
    background: url(../images/city_label_small_99.png) no-repeat;
    top:18px;
}

/** confirm dialog **/
.confirm_dialog{
    position: absolute;
    left:50%;
    top:50%;
    z-index: 2001;
    width: 316px;
    height:123px;
    margin-left:-158px;
    margin-top:-60px;
    background:url(../images/confirm_btn_bg.png);
    display: none;
}
.confirm_dialog .btn_yes{
    position: absolute;
    left:50%;
    margin-left:-104px;
    bottom: 41px;
    width: 100px;
    height: 50px;
    background:url(../images/confirm_btn_01.png) 0 -50px;
}
.confirm_dialog .btn_no{
    position: absolute;
    left:50%;
    margin-left:4px;
    bottom: 41px;
    width: 100px;
    height: 50px;
    background:url(../images/confirm_btn_02.png) 0 -50px;
}
.confirm_dialog .btn_yes:hover, .confirm_dialog .btn_no:hover{
    background-position: 0 0;
    cursor: pointer;
}